.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #575151;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 1em 3em;
  box-sizing: border-box;
}
.logo{
  font-size: 1.5em; 
  padding: 0;
  margin: 0;
}
.img-box{
  width: 100%;
  height: 27em;
  box-shadow: 3px 1px 15px rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 5px;
  background-color: #2b2b44;
}
.img-box .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #272727;
}

.title {
  font-size: 1.5em;
  margin: 0px;
}

.date {
  color: #aaa;
  font-size: 1em;
  margin: 10px 0;
}
.explanation-box{
  max-width: 100%;
  display: flex;
  padding: 1rem;
}
.explanation {
  justify-content: center;
  max-width: 93%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  transition: all 0.3s ease;
}

.explanation.show-more {
  white-space: normal;
}

.button {
  color: rgb(65, 62, 62);
  cursor: pointer;
  border: none;
  text-decoration: underline;
}